﻿@model MvcMyBlog.Models.Comment

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Comment</legend>

    <div class="display-label">PostID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostID)
    </div>

    <div class="display-label">CommentDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CommentDate)
    </div>

    <div class="display-label">CommentContent</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CommentContent)
    </div>

    <div class="display-label">UserFullName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserFullName)
    </div>

    <div class="display-label">UserEmail</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserEmail)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
