﻿@model MvcMyBlog.Models.Comment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Comment</legend>

    <div class="display-label">PostID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostID)
    </div>

    <div class="display-label">CommentDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CommentDate)
    </div>

    <div class="display-label">CommentContent</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CommentContent)
    </div>

    <div class="display-label">UserFullName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserFullName)
    </div>

    <div class="display-label">UserEmail</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserEmail)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CommentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
