﻿@model MvcMyBlog.Models.Post

@{
    ViewBag.Title = "Create";
}

<h2>Create New Post</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend></legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Text)
            @Html.ValidationMessageFor(model => model.Text)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CoverImage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CoverImage)
            @Html.ValidationMessageFor(model => model.CoverImage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryPostID, "Choose Category")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategoryPostID","-- Choose --")
            @Html.ValidationMessageFor(model => model.CategoryPostID)
          
        </div>

        <div class="editor-label">
            <!--@Html.LabelFor(model => model.Date)-->
        </div>
        <div class="editor-field" style="display:none;">
        @Html.TextBox("Date")
            <!--@Html.EditorFor(model => model.Date)-->
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tags)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tags)
            @Html.ValidationMessageFor(model => model.Tags)
        </div>

        <div class="editor-label">
           <!-- @Html.LabelFor(model => model.UserName)-->
        </div>

        <br />

        <div class="editor-field" style="display:none;">
            @Html.TextBox("UserName")
            @Html.ValidationMessageFor(model => model.UserName)
        </div>


        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}


<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
