﻿<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

	<meta charset="utf-8">

	<title>@ViewBag.Title</title>
	
	<meta name="description" content="">


    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>


    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ckeditor/adapters/jquery.js")" type="text/javascript"></script>


	
	<link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.png")">
	
	<link rel="stylesheet" href="@Url.Content("~/Content/style.css")">

	<script src="@Url.Content("~/Content/js/modernizr-2.0.min.js")"></script>
	<script src="@Url.Content("~/Content/js/respond.min.js")"></script>
	
    <style type="text/css">
    body,td,th {
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
    }
    </style>
</head>

<body class="light">

<!-- Left Column (Header) -->
	<header id="header">
		
	<!-- Logo -->
		<h1>
			<a href="">
				<img src="@Url.Content("~/Content/images/logo.png")" alt="logo" width="114" height="38">
			</a>
		</h1>
	<!-- /Logo -->
	
	<!-- Navigation -->
		<nav id="nav-primary">
			<ul>
				<li>@Html.ActionLink("Home", "Index", "Home")</li>

                 @if (Request.IsAuthenticated)
                 {
				<!--<li>@Html.ActionLink("My blogs", "CurrentUser", "Home")</li> -->
                     
                 
                     
                <li>@Html.ActionLink("Create new post", "Create", "Home")</li>
                 }

                 <li>@Html.ActionLink("Search", "SearchIndex", "Home")</li>

				<!--
                
                
                <li><a href="portfolio_grid_large.html">Portfolio</a>
					<ul>
						<li><a href="portfolio_grid_small.html">Portfolio Small</a></li>
						<li><a href="portfolio_grid_medium.html">Portfolio Medium</a></li>
						<li><a href="portfolio_grid_large.html">Portfolio Large</a></li>
						<li><a href="portfolio_basic.html">Basic Portfolio</a></li>
					</ul>
				</li>
				<li><a href="blog_grid_large.html">Blog</a>
					<ul>
						<li><a href="blog_classic_1.html">Blog Classic v1</a></li>
						<li><a href="blog_classic_2.html">Blog Classic v2</a></li>
						<li><a href="blog_single.html">Blog Single</a></li>
						<li><a href="blog_grid_small.html">Grid Blog Small</a></li>
						<li><a href="blog_grid_medium.html">Grid Blog Medium</a></li>
						<li><a href="blog_grid_large.html">Grid Blog Large</a></li>
					</ul>
				</li>
				<li><a href="page_styles.html">Pages</a>
					<ul>
						<li><a href="page_404.html">404 Error</a></li>
						<li><a href="page_contact.html">Contact Us</a></li>
						<li><a href="page_about.html">About Us</a></li>
					</ul>
				</li>

                -->



			</ul>
		</nav>
	<!-- /Navigation -->
	
	</header>
<!-- /Left Column (Header) -->

<!-- Right Column -->
	<div id="main" role="main">
	
	<!-- Call to action -->
		<header class="clearfix">
			<div id="call-to-action"><a href=""><span>It's FREE</span>Sign up</a></div>
			<h2 id="tagline">Welcome to My Blog.com</h2>
			<ul class="breadcrumbs">
				<li>You are here:</li>
				<li><a href="">@ViewBag.Title</a></li>
				<!--<li><a href="blog_grid_large.html">Portfolio</a></li>
				<li>Grid Blog Medium</li>-->
                
                
                &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; @Html.Partial("_LogOnPartial")
			</ul>
            
		</header>
	<!-- /Call to action -->
	
		<div class="cl"></div>
	
	<!-- Content Area -->
		<div id="content-area" class="container list clearfix">
		
			<div class="container-12">
			
				<div class="col-8-wrap clearfix" style="position:relative; top:10px; left:-60px;">
				
				<!-- Archive List -->


                @RenderBody()


                <!-- End of Archive List -->
				
				</div><!-- .col-8-wrap -->



				
				<!-- Side Bar -->
               
                    

				<!-- / Side Bar -->
				
			</div><!-- .container-12 -->
			
		</div><!-- .container .list -->
		
		<!-- /Content Area -->
		<div class="cl"></div>
		
		<!-- Pagination -->


		<!--
        
        
        <div class="pagination">
			<ul>
				<li><a href="#" class="prev">&lsaquo;</a></li>
				<li><a href="#" title="1" class="page">1</a></li>
				<li><span class="page current">2</span></li>
				<li><a href="#" title="3" class="page">3</a></li>
				<li><a href="#" title="4" class="page">4</a></li>
				<li><span class="gap">[...]</span></li>
				<li><a href="#" title="39" class="page">8</a></li>
				<li><a href="#" class="next">&rsaquo;</a></li>
			</ul>
		</div>



        -->


		<!-- /Pagination -->
		
	<!-- /Content Area -->
	</div>
<!-- /Right Column -->

<!-- Footer -->
	<footer id="footer">
		<div id="social">
			<a id="facebook" href="http://facebook.com/jovanovski.miki" title="Facebook" target="_blank"></a>
			<a id="twitter" href="https://twitter.com/#!/jovanovskimiki" title="Twitter" target="_blank"></a>
			<a id="linkedin" href="http://www.linkedin.com/profile/view?id=92630463&trk=tab_pro" title="Linked in" target="_blank"></a>
			
	  </div><!-- #social -->
		
        <!--

		<div id="search">
			<form method="post" action="#">
				<input type="text" value="" placeholder="Search" name="s" id="query">
			</form>
		</div>-->
        
        <!-- #search -->
		
		<div class="source-org vcard copyright">
			<p>&copy; 2012 Jovanovski Miki</p>
		</div><!-- .copyright -->
	</footer>
<!-- /Footer -->

<!-- Large image viewer -->
	<div id="img-preview-controls">
		<a class="" id="img-title" href="#"></a>
		<a id="img-view-post" href="#">View</a>
		<a id="img-close" href="#">Close</a>
	</div>
<!-- /Large image viewer -->

<div class="back-to-top"><a href="#">Up</a></div>

<!-- Javascript (in footer for a reason) -->
<script src="../../../../ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>    window.jQuery || document.write('<script src="@Url.Content("~/Content/js/jquery-1.6.2.min.js")"><\/script>')</script>

<script src="@Url.Content("~/Content/js/jquery.hoverIntent.minified.js")"></script>
<script src="@Url.Content("~/Content/js/jquery.nivo.slider.pack.js")"></script>
<script src="@Url.Content("~/Content/js/jquery.animate-enhanced.js")"></script>
<script src="@Url.Content("~/Content/js/jquery.ez-bg-resize.js")"></script>
<script src="@Url.Content("~/Content/js/jquery.imagesloaded.js")"></script>
<script src="@Url.Content("~/Content/js/jquery.masonry.min.js")"></script>
<script src="@Url.Content("~/Content/js/jquery.cycle.all.js")"></script>
<script src="@Url.Content("~/Content/js/jquery.cookie.js")"></script>
<script src="@Url.Content("~/Content/js/jquery.color.js")"></script>
<script src="@Url.Content("~/Content/js/script.js")"></script>


<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->

</body>
</html>
