﻿@model MvcMyBlog.Models.Post
@using Microsoft.Web.Helpers;

@{
    ViewBag.Title = "Create";
}

<h2>Create New Post</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>



@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend></legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>

        <div class="editor-field">
         @Html.TextAreaFor(model => model.Text, new { @class = "ckeditor" })
         @Html.ValidationMessageFor(model => model.Text)
       </div>

      <script type="text/javascript">
      $(document).ready(function () {
        $(this).parents('form:first').submit(function () {
            for (instance in CKEDITOR.instances) {
                CKEDITOR.instances[instance].updateElement();
            }
        });
      });
      </script>

        <br />

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageUrl)
        </div>

        <br />
        @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { @encType = "multipart/form-data" })) {           
        @FileUpload.GetHtml(initialNumberOfFiles: 1, allowMoreFilesToBeAdded: false, includeFormTag: false, addText: "Add Files", uploadText: "Upload File") <br />        

     
        
        }



        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryPostID, "Choose Category")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategoryPostID", "-- Choose --")
            @Html.ValidationMessageFor(model => model.CategoryPostID)
          
        </div>

        <div class="editor-label">
            <!--@Html.LabelFor(model => model.Date)-->
        </div>
        <div class="editor-field" style="display:none;">
        @Html.TextBox("Date")
            <!--@Html.EditorFor(model => model.Date)-->
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tags)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tags)
            @Html.ValidationMessageFor(model => model.Tags)
        </div>

        <div class="editor-label">
           <!-- @Html.LabelFor(model => model.UserName)-->
        </div>

        <br />

        <div class="editor-field" style="display:none;">
            @Html.TextBox("UserName")
            @Html.ValidationMessageFor(model => model.UserName)
        </div>


        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}


<br />
<div>
    @Html.ActionLink("Back to Home", "Index")
</div>






</div>    <!--  ZA DA SE ZATVORI RenderBody()    -->




<!-- Side Bar -->
					
                    <aside class="col-4">
						
						<div class="widget widget-style-1">
							<h4>Categories</h4>
							<ul>
                           
                                
                                <li><a href="Categories?catname=Web Design">Web Design</a></li>
                                <li><a href="Categories?catname=Graphic Design">Graphic Design</a></li>  
                                <li><a href="Categories?catname=Motion Graphics">Motion Graphics</a></li> 
                                <li><a href="Categories?catname=Usability"></a>Usability</li>
                                <li><a href="Categories?catname=Mobile apps"></a>Mobile apps</li>                                   
                                
                            
							</ul>
						</div>
					
						<div class="widget widget-style-2">
							<h4>Archives</h4>
							<ul>
								<li><a href="#">October 2011</a></li>
								<li><a href="#">September 2011</a></li>
								<li><a href="#">August 2011</a></li>
								<li><a href="#">July 2011</a></li>
								<li><a href="#">June 2011</a></li>
							</ul>
						</div>
						
						
						
					</aside>

                   

				<!-- / Side Bar -->