﻿@model MvcMyBlog.Models.Post

@{
    ViewBag.Title = "Delete";
}

<!--<h2>Delete</h2>-->

<h3>Are you sure you want to delete this?</h3>


<!--
<fieldset>
    <legend>Post</legend>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Text</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Text)
    </div>

    <div class="display-label">CategoryPost</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryPost.Category)
    </div>

    <div class="display-label">Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">Tags</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tags)
    </div>

    <div class="display-label">UserName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
-->



<article class="clearfix post format-image">
					
						
						<header class="col-8" style="position:reltive; top:11px;">
							<h3>@Html.DisplayFor(model => model.Title)</h3>
						</header>
						
						<div class="cl"></div>
						
                        <!--

						<div class="col-8 slider-wrapper">
							<div class="ribbon"></div>
							<div id="slider" class="nivoSlider">
								<img src="_images/assets/entry-8-col-1.jpg" width="620" height="300" alt="Slide 1" title="This is a caption">
								<img src="_images/assets/entry-8-col-2.jpg" width="620" height="300" alt="Slide 2">
								<img src="_images/assets/entry-8-col-3.jpg" width="620" height="300" alt="Slide 3">
							</div>
						</div>
						
						<div class="cl"></div>

                        -->
						
						<section class="col-8">
							<p>@Html.DisplayTextFor(model => model.Text)</p>
						</section>
						
						<div class="cl"></div>
							
						<footer class="meta col-8">
							<p><strong>Category: </strong>@Html.DisplayFor(model => model.CategoryPost.Category) &nbsp;|&nbsp; <strong>Date: </strong>@Html.DisplayFor(model => model.Date)    |   <a class="comments" href="">24</a>  |  <strong>Tags</strong> : @Html.DisplayFor(model => model.Tags)</p>
						</footer>
						
						<hr class="col-8" />
						
						<section class="col-2">
							<figure>
								<img src="@Url.Content("~/Content/images/post-author.jpg")" height="100" width="100" alt="Author photo">
							</figure>
						</section>
						<section class="col-6" style="position:relative; top:7px; left:-40px;">
							<h6>Author: @Html.DisplayFor(model => model.UserName)</h6>
							<p><small>
								Author Biography...
							</small></p>

                            
                           @using (Html.BeginForm())
                           {
                           <p>
                             <input type="submit" value="Delete" /> |
                             @Html.ActionLink("Back to Home", "Index")
                           </p>
                           }
							
						</section>
						
					</article>