﻿@model MvcMyBlog.Models.Post

@{
    ViewBag.Title = "Details";
}

<!--

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Text</div>
    <div class="display-field">
        @Html.DisplayTextFor(model => model.Text)
    </div>


    <div class="display-label">CategoryPost</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryPost.Category)
    </div>

    <div class="display-label">Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">Tags</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tags)
    </div>

    <div class="display-label">UserName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PostID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

-->





<article class="clearfix post format-image">
					
						
						<header class="col-8" style="position:reltive; top:11px;">
							<h3>@Html.DisplayFor(model => model.Title)</h3>
						</header>
						
						<div class="cl"></div>
						
                        <!--

						<div class="col-8 slider-wrapper">
							<div class="ribbon"></div>
							<div id="slider" class="nivoSlider">
								<img src="_images/assets/entry-8-col-1.jpg" width="620" height="300" alt="Slide 1" title="This is a caption">
								<img src="_images/assets/entry-8-col-2.jpg" width="620" height="300" alt="Slide 2">
								<img src="_images/assets/entry-8-col-3.jpg" width="620" height="300" alt="Slide 3">
							</div>
						</div>
						
						<div class="cl"></div>

                        -->
						
						<section class="col-8">
							<p>@Html.DisplayTextFor(model => model.Text)</p>
						</section>

<div style="position:relative; left:10px;">
                        <!-- Lockerz Share BEGIN -->
<div class="a2a_kit a2a_default_style">
<a class="a2a_dd" href="http://www.addtoany.com/share_save">Share</a>
<span class="a2a_divider"></span>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_email"></a>
<a class="a2a_button_google_plus"></a>
</div>
<script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
<!-- Lockerz Share END -->

</div>



						
						<div class="cl"></div>
							
						<footer class="meta col-8">
							<p><strong>Category: </strong>@Html.DisplayFor(model => model.CategoryPost.Category) &nbsp;|&nbsp; <strong>Date: </strong>@Html.DisplayFor(model => model.Date)    |   <a class="comments" href="#comment">@Html.DisplayFor(model => model.Comments.Count)</a>  |  <strong>Tags</strong> : @Html.DisplayFor(model => model.Tags)</p>
						</footer>
						
						<hr class="col-8" />
						
						<section class="col-2">
							<figure>
								<img src="@Url.Content("~/Content/images/post-author.jpg")" height="100" width="100" alt="Author photo">
							</figure>
						</section>
						<section class="col-6" style="position:relative; top:7px; left:-40px;">
							<h6>Author: @Html.DisplayFor(model => model.UserName)</h6>
							<p><small>
								Author Biography...
							</small></p>


                            @if (HttpContext.Current.User.Identity.Name.ToString()==Model.UserName.ToString())
                            {
                            <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.PostID }) | 
                            @Html.ActionLink("Delete", "Delete", new { id=Model.PostID })
                                         
                            </p>
                            }
                            
                           <p> @Html.ActionLink("Back to Home", "Index")  </p>
							
						</section>
						
					</article>








<!-- Comments -->
			
					<div id="comments" class="col-8-wrap comments">
						
						<header>
							<h3>Comments</h3>
						</header>
						
						<div class="cl"></div>
						
						<!-- Comments -->

                       
						<section class="cols-8-wrap">

						<ol class="commentlist clearfix">

                        @foreach (var item in Model.Comments)
                        {
								<li class="comment even thread-even depth-1 parent">
									<div class="comment-body">
										<div class="comment-author vcard">
											<cite class="fn">@Html.DisplayFor(modelItem => item.UserFullName)</cite>
											<span class="says">says:</span>
										</div>
										<div class="comment-meta commentmetadata">
											<a href="#comment">@Html.DisplayFor(modelItem => item.CommentDate)</a>
										</div>
										<p>@Html.DisplayFor(modelItem => item.CommentContent)</p>
										
									</div>

                               </li>
                                 
                          }


							</ol>

                            <div id="respond">

                          @{ Html.RenderAction("Create", "Comment", new { PostID = Model.PostID }); }  

            

                           </div>
                
                       


						</section>
						
					</div>
					
					<!-- /Comments -->








<div class="cl"></div>



</div>    <!--  ZA DA SE ZATVORI RenderBody()    -->




<!-- Side Bar -->
					
                    <aside class="col-4">
						
						<div class="widget widget-style-1">
							<h4>Categories</h4>
							<ul>
                           
                                
                                <li><a href="../Categories?catname=Web Design">Web Design</a></li>
                                <li><a href="../Categories?catname=Graphic Design">Graphic Design</a></li>  
                                <li><a href="../Categories?catname=Motion Graphics">Motion Graphics</a></li> 
                                <li><a href="../Categories?catname=Usability"></a>Usability</li>
                                <li><a href="../Categories?catname=Mobile apps"></a>Mobile apps</li>                                   
                                
                            
							</ul>
						</div>
					
						<div class="widget widget-style-2">
							<h4>Archives</h4>
							<ul>
								<li><a href="#">October 2011</a></li>
								<li><a href="#">September 2011</a></li>
								<li><a href="#">August 2011</a></li>
								<li><a href="#">July 2011</a></li>
								<li><a href="#">June 2011</a></li>
							</ul>
						</div>
						
						
						
					</aside>

                   

				<!-- / Side Bar -->