﻿@model IEnumerable<MvcMyBlog.Models.Post>

@{
    ViewBag.Title = "SearchIndex";
}

<h2>Search Results</h2>

<!--
<p>
    @Html.ActionLink("Create New", "Create")
</p>
-->



@using (Html.BeginForm("SearchIndex","Home",FormMethod.Get)){
         <p>Search by Title: @Html.TextBox("title")  
         <input type="submit" value="Filter" /></p>
        }



<!--

<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Text
        </th>
        <th>
            ImageUrl
        </th>
        <th>
            CategoryPostID
        </th>
        <th>
            Date
        </th>
        <th>
            Tags
        </th>
        <th>
            UserName
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryPostID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tags)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PostID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PostID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PostID })
        </td>
    </tr>
}

</table>


-->





@foreach (var item in Model)
{
    <article class="post col-8-wrap format-audio clearfix">
						
						<!--
                        
                        <figure class="col-3">
							<a href="blog_single.html"><img src="_images/assets/entry-3-col-2-list.jpg" width="220" height="157" alt="Threaded Awesomeness"></a>
						</figure>

                        -->

						<header>
							<h3 class="post-title" style="padding-left:9px;">@Html.ActionLink(item.Title.ToString(), "Details", new { id=item.PostID })</h3>
						</header>
						<div class="entry">
							<p>@Html.DisplayTextFor(modelItem => item.Text)</p>                 
						</div>
						<div class="cl"></div>
						<footer class="meta">
							<p><strong>Category: </strong>@Html.DisplayFor(modelItem => item.CategoryPost.Category) &nbsp;|&nbsp; <strong>Date: </strong>@Html.DisplayFor(modelItem => item.Date)    |   <a class="comments" style="cursor:pointer;">@Html.DisplayFor(modelItem => item.Comments.Count)</a>  |  <strong>Tags</strong> : @Html.DisplayFor(modelItem => item.Tags)</p>
						</footer>
					</article>
			
					<div class="cl"></div>
}


</div>    <!--  ZA DA SE ZATVORI RenderBody()    -->




<!-- Side Bar -->
					
                    <aside class="col-4">
						
						<div class="widget widget-style-1">
							<h4>Categories</h4>
							<ul>
                           
                                
                                <li><a href="Categories?catname=Web Design">Web Design</a></li>
                                <li><a href="Categories?catname=Graphic Design">Graphic Design</a></li>  
                                <li><a href="Categories?catname=Motion Graphics">Motion Graphics</a></li> 
                                <li><a href="Categories?catname=Usability"></a>Usability</li>
                                <li><a href="Categories?catname=Mobile apps"></a>Mobile apps</li>                                   
                                
                            
							</ul>
						</div>
					
						<div class="widget widget-style-2">
							<h4>Archives</h4>
							<ul>
								<li><a href="#">October 2011</a></li>
								<li><a href="#">September 2011</a></li>
								<li><a href="#">August 2011</a></li>
								<li><a href="#">July 2011</a></li>
								<li><a href="#">June 2011</a></li>
							</ul>
						</div>
						
						
						
					</aside>

                   

				<!-- / Side Bar -->


